:root {
  --red: #dc3545;
}
/*! ------------ 1- NAVBAR --------------*/
.navbar {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-link {
  color: black;
  transition: color 0.5s;
}
.nav-link:hover {
  color: var(--red);
}

/*! ------------ 2- CAROUSEL --------------*/

/*! ------------ 3- ABOUT SECTİON --------------*/

/*! ------------ 4- INSTRUCTIONS --------------*/

/*! ------------ 5- STUDENTS SECTION --------------*/

/*! ------------ 6- COURSES SECTION --------------*/

/*! ------------ 7- CONTACT SECTION --------------*/

/** ------------  UP - BUTTON  --------------*/

/*! ------------ 8- FOOTER --------------*/
